/*div{
	border: 1px solid black;
}*/
div {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
 @font-face {
    font-family: pfagorasanspro-light; /* Гарнитура шрифта */
    src: url(fpfagorasanspro-light.ttf); /* Путь к файлу со шрифтом */
	src: local(pfagorasanspro-light), url(pfagorasanspro-light.ttf);
   }
body{
	background: url(img/bg2.png) no-repeat 50% 0;
	/*overflow: hidden;*/
	font-family: pfagorasanspro-light, arial, sans-serif;
}
.main{
	width: 996px;
	margin: 0 auto;
	/*background: url(main.jpg);*/
	color: #767676;
}
.main a{
	text-decoration: none;
	color: #767676;
}
.header{
	height: 140px;
	padding: 47px 0 47px 47px;
}
.logo{
	width: 300px;
}
.logo img{
	margin-right: 12px;
}
.nav{
	float: right;
	padding: 6px 0 7px;
	width: 600px;
	font-size: 0;
}
.nav li{
	display: inline-block;
	/*height: 33px;
	width: 106px;*/
	margin-right: -3px;
	margin-left: 1px;
	font-size: 18px;
	background: url(img/backhover-l.png) no-repeat 0 -33px;
}
.nav a {
	padding: 8px 16px 7px 16px;
	display: block;
	background: url(img/backhover-r.png) no-repeat 100% -33px;
}
.nav li:hover{
	background-position: 0;
}
.nav li:hover a {
	background-position: 100%;
}
.inline{
	display: inline;
}
.foto{
	height: 524px;
	background: url(img/foto.jpg);
	position: relative;
}
.apple{
	position: absolute;
	left: 88px;
	top: 200px;
}
.angle1{
	position: absolute;
	left: 883px;
	top:-24px;
	width: 100px;
}
.angle2{
	position: absolute;
	left: 686px;
	bottom: -47px;
	width: 300px;
}
.love{
	position: relative;
	width: 497px;
	color: #fff;
	top: 309px;
	left: 452px;
	overflow: hidden;
}
.love p {
	line-height: 23px;
}
h1{
	font-size: 36px;
	margin-bottom: 15px;
}
p{
	font-size: 14px;
	font-family: "Tahoma", arial;
}
.content{
	height: 270px;
	padding: 66px 50px 66px 50px;
}
.content p {
	line-height: 23px;
}
.col{
	height: 190px;
	padding: 0 50px 50px 50px;
}
.col h1{
	font-size: 25px;
}
.col p{
	font-size: 13px;
	line-height: 20px;
}
.one{
	float: left;
	width: 298px;
}
.one img, .two img, .three img{
	float: left;
}
.text{
	padding:8px 0 0 17px;
	overflow: hidden;
}
.text div{
	padding: 12px 3px 0 0;
}
.text h1{
	margin-bottom: 11px;
	width: 165px;
}
.one,.two{
	margin-right: 16px;
}
.two{
	overflow: hidden;
}
.three{
	float: right;
	width: 258px;
}
#threeimg{
	padding-top: 9px;
}
.sale{
	height: 174px;
	width: 996px;
	position: relative;
}
.sale1{
	float: left;
	padding: 27px 0 0 25px;
}
.texts{
	width: 660px;
	position: relative;
	left: -33px;
	overflow: hidden;
	padding: 47px 0 0 0;
}
.texts h1{
	font-size: 26px;
	margin-bottom: 11px;
}
.texts p{
	font-size: 13px;
	line-height: 20px;
}
.texts a{
	color: #5f93a2;
}
.sale2{
	position: absolute;
	width:100px;
	top: 42px;
	left: 910px;
}
.footer{
	height: 106px;
}
.copy{
	padding: 32px 0 0 47px;
	font-family: "Tahoma", arial;
	width: 300px;
	display: inline-block;
}
.copy img{
	float: left;
}
.copy div{
	padding: 6px 0 0 13px;
	overflow: hidden;
}
.copy h2{
	font-size: 13px;
}
.copy p{
	font-size: 11px;
	padding-top:5px;
}
.phone{
	float: right;
	width: 346px;
	overflow: hidden;
	padding: 31px 0 0 0;
}
.phone p{
	font-size: 15px;
}
.phone h2{
	font-size: 30px;
}
.fb{
	position: relative;
	top: -53px;
	left: 219px;
}
.tw{
	position: relative;
	top: -81px;
	left: 261px;
}
